.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-top: 20px;
  background-color: #486b73;
  margin-left: 20px;
}
.nav-item {
  display: inline;
  color: #0d0d0d;
  padding: 0.5%;
  padding-top: 5px;

}

.nav-item:hover {
  background-color: #a8bbbf;
}

.nav-item a {
  display: block;
  color: #0d0d0d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.Nav {
  background-color: #486b73;
  height: 80px;
}

.link-style {
  text-decoration: none;
}

.logout-button{
    float:right;
    margin-right: 20px;
}